:root {
  --color-accent: #2a4227;

  --normal-margin-bottom: 12px;

  --border-radius: 4px;

  --normal-font-size: 20px;
  --normal-line-height: calc(24 / 20);
  --letter-spacing: 0.1rem;
}

body {
  font-family: "Philosopher", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

.welcome {
  background-color: var(--color-accent);
  color: #ffffff;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
}

.welcome-title {
  margin-bottom: var(--normal-margin-bottom);
  font-size: 40px;
  line-height: calc(52 / 40);
  letter-spacing: var(--letter-spacing);
}

.welcome-text {
  font-size: var(--normal-font-size);
  line-height: var(--normal-line-height);
  letter-spacing: var(--letter-spacing);
}

.title {
  margin-bottom: var(--normal-margin-bottom);
  font-size: 32px;
  line-height: calc(36 / 32);
}

.input {
  display: block;
  width: 75%;
  height: 350px;
  margin-bottom: var(--normal-margin-bottom);
  padding: 16px;
  border-radius: var(--border-radius);
}

.input:focus {
  width: 100%;
  outline: none;
}

.input::placeholder {
  font-size: var(--normal-font-size);
  line-height: var(--normal-line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color-accent);
}

.btn {
  padding: 8px 24px;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--normal-font-size);
  line-height: var(--normal-line-height);
  color: #ffffff;
  background-color: var(--color-accent);
  cursor: pointer;
}

.result .container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.result-symbol {
  width: 60px;
  height: 48px;
  border: 2px solid var(--color-accent);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 36px;
  line-height: var(--normal-line-height);
}
